<main>
  <a href="/"> Back </a>

  <div cdkDropListGroup>
    <ng-container *ngFor="let date of getDates(); let i = index">
      <h2 class="w-full">{{ date }}</h2>

      <div cdkDropList (cdkDropListDropped)="onDrop($event, date)">
        <section *ngFor="let appointment of appointmentsByDate[date]" cdkDrag>
          <div>
            <h3>{{ appointment.Date | date : "hh:mm a" }}</h3>
            <p>{{ appointment.Name }}</p>
          </div>

          <button
            mat-fab
            color="primary"
            (click)="deleteAppointment(appointment)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </section>
      </div>
    </ng-container>
  </div>
</main>
